:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --primary-white-color: #ccbaba;
  --secondary-white-color: #e0dfe6;
  --primary-bcg-color: #2f303a;
  --secondary-bcg-color: #f5f4fa;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  second-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* header */

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo .header {
  color: var(--accent-color);
}

.logo {
  margin-right: 85px;
}

.site-nav {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-list .logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo .header {
  color: var(--accent-color);
}

.site-nav .site-nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav-list {
  padding-top: 32px;
  padding-bottom: 32px;
}

.auth-nav {
  display: flex;
  align-items: center;
}

.auth-nav :not(:last-child) {
  margin-right: 30px;
}

.auth-nav .site-nav-list {
  padding-top: 32px;
  padding-bottom: 32px;
}

.auth-nav .auth-nav-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* Hero */
.hero {
  text-align: center;
}
.hero-item {
  margin-top: 0px;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  padding-top: 200px;
}

.modal-btn {
  display: inline-block;
  font-family: inherit;
  background-color: var(--accent-color);
  color: var(--primary-text-color);
  padding: 10px 32px;
  min-width: 200px;
  border-radius: 6px;
  height: 50px;
  left: 700px;
  top: 430px;
}

.modal-btn:hover {
  background-color: var(--secondary-accent-color);
}

/* Advantages */
.section .container {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-list {
  display: flex;
  justify-content: space-between;
}

.item {
  display: flex;
  flex-direction: column;
}

.item-img {
  background-color: var(--secondary-bcg-color);
  padding: 25px 100px;
  margin-bottom: 30px;
}

.item:not(:last-child) {
  margin-right: 30px;
}

.title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.decoration {
  color: var(--primary-text-color);
}

/*  Working*/
.section .container {
  display: flex;
  flex-direction: column;
}

.working-list {
  display: flex;
}

.image-2 {
  margin-bottom: 27px;
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.working-list-item {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  padding-bottom: 121px;
}

/* Our team */

.team-title {
  display: flex;
  align-content: space-between;
}

.team-title-info {
  display: flex;
  flex-direction: column;
}

.master-img {
  margin-bottom: 30px;
}
.title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.social-list {
  display: flex;
  justify-content: space-around;
}

.social-list-icon:not(:last-child) {
  margin-right: 10px;
}

.team-title-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}
/* Clients */

.client-list {
  display: flex;
  justify-content: space-around;
}

.item-link {
  display: flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}
/* footer */

.footer-section .container {
  display: flex;
}

.contact {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: 69px;
}

.footer-section .logo {
  display: flex;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.footer {
  color: var(--accent-color);
}

.adress-list {
  display: flex;
}

.adress-list-point:not(:last-child) {
  margin-bottom: 9px;
}

.join {
  padding-top: 70px;
  padding-bottom: 100px;
}

.title,
.title-list {
  display: flex;
  justify-content: space-around;
}

.title-list-icon:not(:last-child) {
  margin-right: 10px;
}

.mail,
.phone {
  font-style: normal;
  line-height: 1.71px;
  color: var(--primary-text-color);
}

.mail:hover,
.mail:focus {
  color: var(--accent-color);
}

.phone:hover,
.phone:focus {
  color: var(--accent-color);
}

.map {
  font-style: normal;
  color: var(--primary-white-color);
}
.footer-section .title {
  font-weight: bold;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
/* portfolio */

.button-filtr {
  color: var(--secondary-text-color);
  background-color: var(--secondary-white-color);
}

.button-filtr:hover,
.button-filtr:focus {
  color: var(--accent-color);
}

.card-list .card-list-item {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.card-list .text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

.card-list .text-popup {
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-white-color);
}
